        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        body{
            background: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container{
            text-align: center;
            max-width: 450;
        }
        .illustration img {
            width: 340px;
            margin-bottom: 20px;
        }
        h1{
            color: white;
            font-size: 30px;
            margin-bottom: 20px;
        }
        p{
            color: white;
            margin-bottom: 30px;
        }
        .btn{
            display: inline-block;
            padding: 16px;
            background-color: rgba(189, 86, 189, 0.756);
            color: black;
            text-decoration: none;
            font-weight: bold;
            border-radius: 10px;
        }
        a:hover{
            background-color: violet;
        }
